#conteiner {
    width: 1000px;
    height: 1000;
    margin: auto;
    text-align: center;
}

.m1 {
    width: 500px;
    height: 700;
    background: url('m1.jpg');
    margin: auto;
}

.m2 {
    width: 500px;
    height: 700;
    background: url('m2.jpg');
    margin: auto;
}